@import 'vars';

html, body, input, textarea, label {
    margin: 0;
    padding: 0;
    background-color: $darkblue;
    color: $white;
}

html, body, input::placeholder, textarea::placeholder, button, textarea, label {
    font-family: 'Roboto Condensed', 'Roboto', Arial, Helvetica, sans-serif;
}

input, textarea {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

::-moz-selection {
    background-color: $highlightpurple;
    color: black;
}

::selection {
    background-color: $highlightpurple;
    color: black;
}

.section {
    padding: 10px;
    text-align: center;
}

.icon {
    color: $purple;
}

.purplebutton {
    color: $white;
    background-color: $purple;
    padding: 15px 30px;
    border-radius: 50px;
    position: relative;
    text-decoration: none;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcomingEvents {
    a {
        font-weight: 300;
        color: white;
        text-decoration: none;
    }
}

@media only screen and (min-width: 900px) {
    .column {
        float: left;
        width: 48%;
        padding: 10px;
    }
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

iframe {
    width: 70%;
    height: 95vh;
    border: 1px solid black;
    outline: 0;
}

/*animations*/

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.fade {
    opacity: 0.6;
    transform: translateY(8vh);
    visibility: hidden;
    transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
    will-change: opacity, transform, visibility;
}
.fade.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
}

/*grid*/

.grid {
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 20px;
}

@media only screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: 49% 49%;
    }
}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 98%;
    }
}

.grid-item {
    padding: 10px;
}

h1 {
    animation: glowalt 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glowalt {
    from {
      text-shadow: 0 0 1px $purple, 0 0 2px $purple, 0 0 3px $purple, 0 0 5px $purple, 0 0 6px $purple, 0 0 7px $purple, 0 0 8px $purple;
    }
    
    to {
        text-shadow: 0 0 1px $purple, 0 0 2px $purple, 0 0 3px $purple, 0 0 5px $purple, 0 0 6px $purple, 0 0 7px $purple, 0 0 8px $purple;
    }
}

/*components*/

.Tabs {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    height: 30px;

    .logo {
        flex: 1;
    }

    .tabs {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .tab {
        float: right;
        padding: 6px 20px;
        margin: 5px;
        display: flex;

        a {
            text-decoration: none;
            color: $white;
            font-weight: 100;
        }
    }

    .this-page {
        border-bottom: 2px solid $white;
    }

    .toggle {
        display: none;
    }

    @media screen and (max-width: 800px) {
        .toggle {
            display: flex;
        }

        .tab {
            display: none;
        }
    }
}

.Banner {
    .col {
        float: left !important;
        width: 50%;
    }
    
    .row::after {
        clear: both !important;
        display: table !important;
        content: "" !important;
    }

    .banner-bar {
        background-color: $highlightpurple;
        color: $purple;
        margin: 0;
        padding: 5px;
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        display: block;
    }
    
    .banner-x {
        background: none;
        border: none;
        cursor: pointer;
    }
    
    .banner-left {
        width: 97%;
    }
    
    .banner-right {
        width: 15px;
    }

    p { 
        margin: 0;
        padding: 0;
        padding-top: 5px;
    }
    
    @media all and (max-width: 900px) {
        .banner-left {
            width: 87%;
            margin-left: 5px;
            margin-right: 15px;
        }
        .banner-right {
            margin-right: 10px;
        }
    }    
}

.Header {
    height: 70vh;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;

    #overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 1;
    }

    .headerborder {
        background-color: $purpleTransparent;
        padding: 20px;
        min-width: 300px;
        z-index: 10;
        position: absolute;

        h1 {
            font-size: 60px;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    
        p {
            text-align: center;
            font-weight: 300;
        }
    }

    @media screen and (max-width: 800px) {
        h1 {
            font-size: 50px !important;
        }

        .headerborder {
            width: 340px !important;
        }
    }
}

.Footer {
    .footerPt2 {
        background-color: $black;
        padding: 10px;

        h4 {
            font-weight: 300;
            color: white;
            text-align: center;
            margin: 0;
            padding: 0;
        }
    }
}