body,
html,
input,
label,
textarea {
    margin: 0;
    padding: 0;
    background-color: #11101b;
    color: #fff
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    font-family: Poppins, Roboto Condensed, Roboto, Arial, Helvetica, sans-serif
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-family: Poppins, Roboto Condensed, Roboto, Arial, Helvetica, sans-serif
}

body,
button,
html,
input::placeholder,
label,
textarea,
textarea::placeholder {
    font-family: Poppins, Roboto Condensed, Roboto, Arial, Helvetica, sans-serif
}

input,
textarea {
    font-family: Poppins, Roboto, Arial, Helvetica, sans-serif
}

::-moz-selection {
    background-color: #ffc3ec;
    color: #000
}

::selection {
    background-color: #ffc3ec;
    color: #000
}

.section {
    padding: 10px;
    text-align: center
}

.box {
    font-size: 35px;
    font-family: Poppins;
    font-weight: bold;
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.b1 {
    animation: ani1 14s infinite;
}

.b2 {
    animation: ani2 14s infinite;
}

.b3 {
    animation: ani3 14s infinite;
}

.b4 {
    animation: ani4 14s infinite;
}

.b5 {
    animation: ani5 14s infinite;
}

@keyframes ani1{
    0% {opacity: 0;}
    10% {opacity: 1;}
    20% {opacity 0;}
}

@keyframes ani2{
    20% {opacity: 0;}
    30% {opacity: 1;}
    40% {opacity 0;}
}

@keyframes ani3{
    40% {opacity: 0;}
    50% {opacity: 1;}
    60% {opacity 0;}
}

@keyframes ani4{
    60% {opacity: 0;}
    70% {opacity: 1;}
    80% {opacity 0;}
}

@keyframes ani5{
    80% {opacity: 0;}
    90% {opacity: 1;}
    100% {opacity 0;}
}

.icon {
    color: #e455b4
}

.purplebutton {
    color: #fff;
    background-color: #e455b4;
    padding: 15px 30px;
    border-radius: 50px;
    position: relative;
    text-decoration: none
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center
}

.upcomingEvents a {
    font-weight: 300;
    color: #fff;
    text-decoration: none
}

.row {
    display: grid;
    grid-template-columns: 50% 50%
}

@media only screen and (max-width:700px) {
    .row {
        grid-template-columns: 100%
    }
}

iframe {
    width: 70%;
    height: 95vh;
    border: 1px solid #000;
    outline: 0
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px
}

@keyframes floating {
    0% {
        transform: translate(0)
    }

    50% {
        transform: translateY(15px)
    }

    to {
        transform: translate(0)
    }
}

.grid,
.grid-two {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px
}

.grid {
    grid-template-columns: 24% 24% 24% 24%;
    margin: 20px;
}

.person-three-grid {
    grid-template-columns: 33% 33% 33%;
}

.grid-two {
    grid-template-columns: 48% 48%;
    margin: 20px;
}

@media only screen and (max-width:1000px) {
    .grid {
        grid-template-columns: 49% 49%
    }
}

@media only screen and (max-width:600px) {
    .grid,
    .grid-two {
        grid-template-columns: 98%
    }
}

.grid-item {
    padding: 10px
}

h1 {
    animation: glowalt 1s ease-in-out infinite alternate
}

.teamhighlights .col {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out
}

.teamhighlights .col h3 {
    color: #fff !important
}

.teamhighlights .col a {
    text-decoration: none;
    color: #fff !important;
    background-color: rgba(104, 19, 93, .705);
    width: 100%
}

.teamhighlights .col:hover {
    transform: scale(1.15)
}

.Tabs {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    height: 30px
}

.Tabs .logo {
    flex: 1 1
}

.Tabs .tabs {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center
}

.Tabs .tab {
    float: right;
    padding: 6px 20px;
    margin: 5px;
    display: flex
}

.Tabs .tab a {
    text-decoration: none;
    color: #fff;
    font-weight: 100
}

.Tabs .this-page {
    border-bottom: 2px solid #fff
}

.Tabs .toggle {
    cursor: pointer;
}

.toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.arrow {
    font-size: 12px;
    margin-left: 10px;
    cursor: pointer;
}

.content {
    display: none;
    margin-left: 10px;
}

.Banner .col {
    float: left !important;
    width: 50%
}

.Banner .row:after {
    clear: both !important;
    display: table !important;
    content: "" !important
}

.Banner .banner-bar {
    background-color: #ffc3ec;
    color: #e455b4;
    margin: 0;
    padding: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    display: block
}

.Banner .banner-x {
    background: none;
    border: none;
    cursor: pointer
}

.Banner .banner-left {
    width: 97%
}

.Banner .banner-right {
    width: 15px
}

.Banner p {
    margin: 0;
    padding: 5px 0 0
}

@media (max-width:900px) {
    .Banner .banner-left {
        width: 87%;
        margin-left: 5px;
        margin-right: 15px
    }

    .Banner .banner-right {
        margin-right: 10px
    }
}

.Header {
    height: 70vh;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #fff
}

.Header #overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1
}

.Header .headerborder {
    background-color: rgba(195, 44, 145, .7);
    padding: 20px;
    min-width: 300px;
    z-index: 10;
    position: absolute
}

.Header .headerborder h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 0
}

.Header .headerborder p {
    text-align: center;
    font-weight: 300
}

@media screen and (max-width:800px) {
    .Header h1 {
        font-size: 50px !important
    }

    .Header .headerborder {
        width: 340px !important
    }
}

.Footer .footerPt2 {
    background-color: #000;
    padding: 10px
}

.Footer .footerPt2 h4 {
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0
}

.coolHeader {
    background: linear-gradient(180deg, #000, rgba(0, 0, 0, .5)), url(images/centerstageworldsrobot.png);
    width: 100%;
    padding: 0
}

.coolHeader .sidepanel {
    display: flex;
    position: absolute;
    width: 60%;
    padding-left: 40px;
    margin-bottom: 0;
    padding-bottom: 0;
    align-items: center;
    margin-top: 100px;
    top: 0
}

.coolHeader .sidepanel h1 {
    font-family: Roboto;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: 80px;
    animation: glow 1s ease-in-out infinite alternate
}

@media screen and (max-width:400px) {
    .coolHeader .sidepanel h1 {
        font-size: 40px
    }
}

@media screen and (max-width:820px) {
    .coolHeader .sidepanel {
        width: 100%;
        padding-left: 0
    }

    .coolHeader h1 {
        font-size: 50px
    }
}

.Index .impact .grid {
    grid-template-columns: 33% 33% 33%
}

.Index .impact .grid .col .icon,
.Index .impact .grid .col h2 {
    color: #fff !important
}

.Index .aboutUsCol {
    border-left: 2px solid #fff
}

.Index .grid-item {
    border: 2px solid #e455b4;
    text-align: center
}

.Index h3 {
    color: #e455b4
}

.Index .firstrow {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin: 10px
}

.Index .firstrow .col {
    background-color: #333;
    border-radius: 15px;
    padding: 5px
}

.Index .firstrow a {
    text-decoration: none;
    color: #fff
}

@media screen and (max-width:950px) {
    .Index .firstrow {
        grid-template-columns: auto auto
    }

    .Index .aboutUsCol {
        border-left-width: 0
    }
}

@media screen and (max-width:850px) {
    .Index .firstrow {
        grid-template-columns: auto
    }
}

.Index .react-photo-gallery--gallery {
    display: flex;
    flex-wrap: wrap;
}

.Index .gallery-row {
    display: flex;
    flex-wrap: wrap;
    gap: 4px; /* Space between images */
}

.Index .gallery-row img {
    margin: 2px;
    display: block;
    width: calc(100% / auto); /* Ensures images are responsive */
    max-width: 100%;
    height: auto; /* Keeps the aspect ratio */
}

.photogallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0
}

.picrow {
    flex: 24% 1;
    max-width: 24%;
    padding: 0 4px
}

.picrow img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%
}

@media screen and (max-width:820px) {
    .firstrow {
        grid-template-columns: auto
    }

    .picrow {
        flex: 48% 1;
        max-width: 48%
    }
}

@media screen and (max-width:600px) {
    .picrow {
        flex: 99% 1;
        max-width: 99%
    }
}

.About .grid-item {
    border: 2px solid #e455b4;
    text-align: center
}

.About h3,
.About p {
    margin: 0;
    padding: 0
}

.About .description,
.About h3 {
    color: #e455b4
}

.About .member {
    margin-bottom: 10px
}

.About #coach-grid {
    grid-template-columns: 33% 33% 33% !important
}

.aboutbuttons {
    display:flex;
    justify-content:center;
    align-items:center;
    margin:20px;
}

@media only screen and (max-width:700px) {
    .About #coach-grid {
        grid-template-columns: 100% !important
    }

    .aboutbuttons {
        display: block;
    }

    .aboutbuttons .purplebutton {
        margin: 10px;
    }
}

.Resources .award-grid .icon,
.Seasons .award-grid .icon {
    margin-right: 5px;
    color: #e455b4
}

.Resources .award-grid .grid-item,
.Seasons .award-grid .grid-item {
    border: 2px solid #e455b4;
    text-align: center
}

.Resources .award-grid .green,
.Seasons .award-grid .green {
    border: 2px solid #4444f7
}

.Resources .award-grid .green .icon,
.Seasons .award-grid .green .icon {
    color: #4444f7
}

.Resources .award-grid .blue,
.Seasons .award-grid .blue {
    border: 2px solid #9a44c2
}

.Resources .award-grid .blue .icon,
.Seasons .award-grid .blue .icon {
    color: #9a44c2
}

.Resources .award-grid b,
.Seasons .award-grid b {
    color: #e455b4
}

.Resources .award-grid .light,
.Seasons .award-grid .light {
    font-weight: 300
}

.Resources .seasongrid,
.Seasons .seasongrid {
    grid-template-columns: 49% 49%
}

@media screen and (max-width:820px) {

    .Resources .seasongrid,
    .Seasons .seasongrid {
        grid-template-columns: 100%
    }
}

.Resources .resource-grid .grid-item,
.Resources .seasongrid .grid-item,
.Seasons .resource-grid .grid-item,
.Seasons .seasongrid .grid-item {
    background-color: #333;
    border-radius: 10px;
    padding: 5px 5px 20px 20px
}

.Resources .resource-grid .grid-item p,
.Resources .seasongrid .grid-item p,
.Seasons .resource-grid .grid-item p,
.Seasons .seasongrid .grid-item p {
    font-weight: 300
}

.Resources .button,
.Seasons .button {
    padding: 10px 40px;
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    background-color: #e455b4;
    border-radius: 50px;
    font-family: Roboto Condensed, Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px
}

.Events #outreaches {
    text-align: left;
    padding: 0
}

.Events .eventsection {
    background-color: #333;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border-left: 7px solid #e455b4
}

.Events .eventsection h4 {
    margin: 0;
    padding: 0;
    font-weight: 400
}

.Events table {
    border-collapse: separate;
    border-spacing: 10px 0
}

.Events table td {
    border-bottom: 1px solid #000
}

.Events th {
    font-weight: 300;
    background-color: #8b008b
}

.Events td,
.Events th {
    padding-right: 15px;
    padding-left: 15px
}

.Contact .contactTable {
    height: -moz-fit-content;
    height: fit-content
}

.Contact .contactTable tr {
    vertical-align: top
}

.Contact .contactTable .tablesection p {
    margin: 0;
    color: #e455b4
}

.Contact .contactTable .tablesection a {
    color: #fff;
    text-decoration: none
}

.Contact .contactTable .tablesection a:hover {
    text-decoration: underline
}

.Contact .contactbox {
    padding: 40px
}

.Contact .contactbox h1 {
    text-align: center;
    font-size: 40px
}

.Contact .contactbox .col {
    padding: 10px
}

.Contact .twogrid {
    display: grid;
    grid-template-columns: 30% 70%;
    background: linear-gradient(to bottom right, rgba(46, 21, 45, .95), rgba(32, 32, 32, .95)), url(/images/fundraiser.jpeg);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-attachment: fixed;
    background-size: cover;
    border-radius: 20px;
    padding-top: 5px
}

.Contact label {
    background-color: transparent
}

@media screen and (max-width:820px) {
    .Contact .twogrid {
        grid-template-columns: auto
    }
}

.Contact input[type=email],
.Contact input[type=text] {
    border: none;
    height: 25px;
    border-radius: 2px
}

.Contact textarea {
    min-height: 100px;
    max-height: 400px;
    resize: vertical
}

.Contact input::-moz-placeholder,
.Contact textarea::-moz-placeholder {
    margin-top: 5px;
    background-color: transparent;
    outline: none;
    font-weight: 300
}

.Contact input:-ms-input-placeholder,
.Contact textarea:-ms-input-placeholder {
    margin-top: 5px;
    background-color: transparent;
    outline: none;
    font-weight: 300
}

.Contact button,
.Contact input,
.Contact input::placeholder,
.Contact textarea,
.Contact textarea::placeholder {
    margin-top: 5px;
    background-color: transparent;
    outline: none;
    font-weight: 300
}

.Contact button {
    background-color: #c32c91;
    width: 50%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 15px;
    margin: 0 !important
}

.Contact button:hover {
    background-color: #992372
}

.Contact form {
    width: 95%;
    margin: 0 !important;
    padding: 0
}

.Contact input[type=email],
.Contact input[type=text],
.Contact textarea {
    width: 98%;
    border: 2px solid #fff;
    padding: 5px
}

.Contact input[type=email]:focus,
.Contact input[type=text]:focus,
.Contact textarea:focus {
    box-shadow: 0 0 5px #ffc3ec;
    border: 2px solid #ffc3ec
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}
